@page "/company"

@using DataAccessLibrary
@using DataAccessLibrary.Models
@using TodoList.Models;
@inject ICompanyData _db

<h3>Add new company</h3>

<h4>Insert New Person</h4>
<EditForm Model="@newCompany" OnValidSubmit="@InsertPerson">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <InputText id="CompanyName" @bind-Value="newCompany.CompanyName" />
    <InputText id="NIF" @bind-Value="newCompany.NIF" />
    <InputText id="emailAddress" @bind-Value="newCompany.EmailAddress" />

    <button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@code {
    private List<CompanyModel> company;
    private DisplayCompanyModel newCompany = new DisplayCompanyModel();

    protected override async Task OnInitializedAsync()
    {
        //company = await _db.GetCompany();
    }

    private async Task InsertPerson()
    {
        CompanyModel p = new CompanyModel
        {
            Name = newCompany.CompanyName,
            NIF = newCompany.NIF,
            EmailAddress = newCompany.EmailAddress
        };

        await _db.InsertCompany(p);

        company.Add(p);

        newCompany = new DisplayCompanyModel();
    } 
}
